In [42]:
import pandas as pd 
import numpy as np

import matplotlib as plt 
%matplotlib inline

In [43]:
header_list = ['id','frame_id',
               'hand0_wrist_x','hand0_wrist_y',
               'hand0_index_x','hand0_index_y','hand0_middle_x','hand0_middle_y',
               'hand0_ring_x','hand0_ring_y','hand0_pinky_x','hand0_pinky_y',
               'hand1_wrist_x','hand1_wrist_y',
               'hand1_index_x','hand1_index_y','hand1_middle_x','hand1_middle_y',
               'hand1_ring_x','hand1_ring_y','hand1_pinky_x','hand1_pinky_y',
               'target'
              ]
df = pd.read_csv('all_frames.csv',names = header_list)

In [44]:
df

,id,frame_id,hand0_wrist_x,hand0_wrist_y,hand0_index_x,hand0_index_y,hand0_middle_x,hand0_middle_y,hand0_ring_x,hand0_ring_y,...,hand1_wrist_y,hand1_index_x,hand1_index_y,hand1_middle_x,hand1_middle_y,hand1_ring_x,hand1_ring_y,hand1_pinky_x,hand1_pinky_y,target
0,0,0,1931,225,1587,333,1556,477,1604,546,...,None,None,None,None,None,None,None,None,None,correct
1,0,1,1931,221,1593,337,1551,483,1610,550,...,None,None,None,None,None,None,None,None,None,correct
2,0,2,1926,226,1604,336,1554,483,1607,547,...,None,None,None,None,None,None,None,None,None,correct
3,0,3,1929,226,1597,346,1554,483,1607,548,...,None,None,None,None,None,None,None,None,None,correct
4,0,4,1926,227,1603,340,1552,483,1606,549,...,None,None,None,None,None,None,None,None,None,correct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25539,66,563,933,471,813,379,846,399,878,426,...,374,1611,512,1578,608,1600,622,1636,590,totally_wrong
25540,66,564,927,490,810,364,849,384,880,414,...,369,1619,512,1585,599,1607,615,1643,593,totally_wrong
25541,66,565,936,507,820,365,854,385,886,418,...,366,1628,505,1589,596,1610,607,1645,576,totally_wrong
25542,66,566,935,503,824,368,860,384,894,412,...,360,1626,487,1591,583,1611,592,1645,568,totally_wrong
25543,66,567,917,509,830,364,864,376,900,403,...,349,1624,482,1596,571,1617,579,1651,553,totally_wrong

In [45]:
#left hand limit 1100
#if col values more than 1200 hand is right
df['hand0_wrist_x'].replace('None',np.nan).astype('float64')

0        1931.0
1        1931.0
2        1926.0
3        1929.0
4        1926.0
          ...
25539     933.0
25540     927.0
25541     936.0
25542     935.0
25543     917.0
Name: hand0_wrist_x, Length: 25544, dtype: float64

In [46]:
#df = df[df['hand1_pinky_y'] != 'correct']
#df = df[df['hand1_pinky_y'] != 'totally_wrong']

In [47]:
df.iloc[: ,2:22] = df.iloc[: ,2:22].replace('None',np.nan).astype('float64')

In [48]:
labels0 = {'hand0_wrist_x':'wrist_x','hand0_wrist_y':'wrist_y',
          'hand0_index_x':'index_x','hand0_index_y':'index_y',
          'hand0_middle_x':'middle_x','hand0_middle_y':'middle_y',
          'hand0_ring_x':'ring_x','hand0_ring_y':'ring_y',
          'hand0_pinky_x':'pinky_x','hand0_pinky_y':'pinky_y'}

labels1 = {'hand1_wrist_x':'wrist_x','hand1_wrist_y':'wrist_y',
          'hand1_index_x':'index_x','hand1_index_y':'index_y',
          'hand1_middle_x':'middle_x','hand1_middle_y':'middle_y',
          'hand1_ring_x':'ring_x','hand1_ring_y':'ring_y',
          'hand1_pinky_x':'pinky_x','hand1_pinky_y':'pinky_y'}

In [49]:
#left hands

left_hand0 = df[df['hand0_wrist_x'] < 1100].iloc[:,2:12].copy()
left_hand0.rename(columns = labels0,inplace = True)

In [50]:
left_hand1 = df[df['hand1_wrist_x'] < 1100].iloc[:,12:22].copy()
left_hand1.rename(columns = labels1,inplace = True)

In [51]:
df.query('hand0_wrist_x > 1100').iloc[:,12:22]

,hand1_wrist_x,hand1_wrist_y,hand1_index_x,hand1_index_y,hand1_middle_x,hand1_middle_y,hand1_ring_x,hand1_ring_y,hand1_pinky_x,hand1_pinky_y
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
25483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
#df[df['hand1_wrist_x'].isna()][df['hand0_wrist_x'] > 1100]
left_nans = df.query('hand1_wrist_x.isna() and hand0_wrist_x > 1100',engine='python').iloc[:,12:22].copy()
left_nans.rename(columns = labels1,inplace = True)

In [53]:
left_hand1

,wrist_x,wrist_y,index_x,index_y,middle_x,middle_y,ring_x,ring_y,pinky_x,pinky_y
3085,770.0,545.0,713.0,276.0,756.0,263.0,795.0,274.0,835.0,315.0
3086,774.0,552.0,718.0,275.0,763.0,260.0,802.0,270.0,844.0,312.0
3087,774.0,557.0,719.0,278.0,765.0,259.0,805.0,274.0,840.0,316.0
3088,769.0,562.0,717.0,279.0,763.0,257.0,806.0,284.0,839.0,328.0
3089,761.0,558.0,720.0,281.0,765.0,264.0,809.0,290.0,845.0,334.0
...,...,...,...,...,...,...,...,...,...,...
24810,861.0,473.0,800.0,336.0,818.0,380.0,868.0,407.0,857.0,509.0
24811,850.0,476.0,800.0,330.0,823.0,369.0,874.0,401.0,864.0,499.0
24812,850.0,496.0,798.0,326.0,828.0,355.0,876.0,390.0,889.0,468.0
24813,828.0,512.0,797.0,320.0,827.0,344.0,879.0,382.0,911.0,455.0
24814,815.0,530.0,756.0,333.0,785.0,343.0,859.0,365.0,891.0,429.0

In [54]:
frames = [left_hand0,left_hand1,left_nans]
df_clean = pd.concat(frames)

In [55]:
df_clean['id'] = df['id'].copy()
df_clean['frame_id'] = df['frame_id'].copy()
df_clean['target'] = df['target'].copy()

In [56]:
df_clean = df_clean[['id','frame_id','wrist_x','wrist_y','index_x','index_y','middle_x','middle_y','ring_x','ring_y','pinky_x','pinky_y','target']]

In [58]:
df_clean

,id,frame_id,wrist_x,wrist_y,index_x,index_y,middle_x,middle_y,ring_x,ring_y,pinky_x,pinky_y,target
90,0,90,693.0,599.0,558.0,275.0,623.0,272.0,714.0,259.0,781.0,295.0,correct
91,0,91,699.0,603.0,578.0,255.0,644.0,306.0,715.0,273.0,789.0,295.0,correct
92,0,92,708.0,608.0,579.0,254.0,641.0,294.0,716.0,272.0,786.0,298.0,correct
93,0,93,710.0,616.0,577.0,249.0,646.0,292.0,714.0,271.0,785.0,294.0,correct
94,0,94,717.0,620.0,575.0,245.0,641.0,287.0,711.0,273.0,782.0,286.0,correct
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25483,66,507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,totally_wrong
25484,66,508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,totally_wrong
25485,66,509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,totally_wrong
25486,66,510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,totally_wrong
25488,66,512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,totally_wrong

In [59]:
df_clean.to_csv("clean_data.csv",index = False)