In [1]:
import pandas as pd
import numpy as np

In [2]:
def generate_labels():
    #NOlandmarks = 5(five fingers)*4(tip,dip,pip,etc)+1(wrist)
    coordinate_labels = ['x','y','z']
    hand_labels = ['left','right']
    wrist_label = 'wrist'
    finger_labels = ['thumb','index','middle','ring','pinky']
    order_labels =['1','2','3','4']
    labels = ['id','frameNo','screen_width','screen_height']
    for hand_label in hand_labels:
        #add wrist
        for coordinate_label in coordinate_labels:
            # zero is put for friendship and error handling
            labels.append(f"{hand_label}_{wrist_label}_0{coordinate_label}")

        for finger_label in finger_labels:
            for order_label in order_labels:
                for coordinate_label in coordinate_labels:
                    labels.append(f"{hand_label}_{finger_label}_{order_label}{coordinate_label}")
    labels.append('label')
    return labels

In [3]:
#low memory is false because of the warning of column 2,3 dtypes
df = pd.read_csv('data_extracted_for_real.csv',names = generate_labels(),low_memory=False)
df.head()

,id,frameNo,screen_width,screen_height,left_wrist_0x,left_wrist_0y,left_wrist_0z,left_thumb_1x,left_thumb_1y,left_thumb_1z,...,right_pinky_2x,right_pinky_2y,right_pinky_2z,right_pinky_3x,right_pinky_3y,right_pinky_3z,right_pinky_4x,right_pinky_4y,right_pinky_4z,label
0,0,0,1080,1920,NaN,NaN,NaN,NaN,NaN,NaN,...,0.936061,0.443790,-0.065665,0.912720,0.485592,-0.069204,0.893534,0.515607,-0.070166,correct
1,0,1,1080,1920,NaN,NaN,NaN,NaN,NaN,NaN,...,0.936944,0.441708,-0.065179,0.913853,0.488416,-0.070457,0.894378,0.522084,-0.073550,correct
2,0,2,1080,1920,NaN,NaN,NaN,NaN,NaN,NaN,...,0.935569,0.443737,-0.064293,0.912439,0.489425,-0.069377,0.893594,0.521497,-0.072303,correct
3,0,3,1080,1920,NaN,NaN,NaN,NaN,NaN,NaN,...,0.935462,0.444466,-0.066074,0.912043,0.489453,-0.070894,0.892545,0.520811,-0.073233,correct
4,0,4,1080,1920,NaN,NaN,NaN,NaN,NaN,NaN,...,0.935874,0.444859,-0.063474,0.912646,0.490171,-0.068041,0.893220,0.521502,-0.070551,correct

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27120 entries, 0 to 27119
Columns: 131 entries, id to label
dtypes: float64(126), int64(2), object(3)
memory usage: 27.1+ MB

In [7]:
df = pd.read_csv('khaledAzzab_dataset.csv',names = generate_labels(),low_memory = False)
df.head()

,id,frameNo,screen_width,screen_height,left_wrist_0x,left_wrist_0y,left_wrist_0z,left_thumb_1x,left_thumb_1y,left_thumb_1z,...,right_pinky_2x,right_pinky_2y,right_pinky_2z,right_pinky_3x,right_pinky_3y,right_pinky_3z,right_pinky_4x,right_pinky_4y,right_pinky_4z,label
0,0,0,1080,1920,0.437084,0.731856,1.221557e-07,0.398425,0.666163,-0.003983,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,correct
1,0,1,1080,1920,0.444842,0.746013,3.900439e-07,0.398538,0.677403,-0.007845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,correct
2,0,2,1080,1920,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,correct
3,0,3,1080,1920,0.446260,0.750526,3.446213e-07,0.401969,0.679978,-0.004605,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,correct
4,0,4,1080,1920,0.445478,0.750472,3.205848e-07,0.399861,0.677208,-0.005479,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,correct

In [14]:
def left_hand(df):
    df_left = df.iloc[:,0:67].copy(deep=True)
    df_left['label'] = df['label']
    return df_left

df_left = left_hand(df)

In [13]:
df_left.to_csv("left_hand_khaled.csv",index = False)